.container{

    align-items: center;
     padding-left: 40%;
     padding-right: 50%;
     margin-bottom: 20px;
    
    }
    .newAcc{
        color: blue;
        display: flex;
        position: relative;
    }